# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Ambientes virtuais
env/
venv/
ENV/
.venv/

# Editor de código (VSCode, PyCharm etc.)
.vscode/
.idea/

# Arquivos de backup, compressão e sistema
*.bak
*.zip
*.tar.gz
.DS_Store
Thumbs.db

# Django – mídia do usuário (imagens de perfil, uploads)
media/

# Arquivos de ambiente e segredos
.env
Apenas_Local

*/migrations/*.py
!*/migrations/__init__.py

staticfiles/

z/
