# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Ambientes virtuais
env/
venv/
ENV/
.venv/

# Editor de código (VSCode, PyCharm etc.)
.vscode/
.idea/

# Arquivos de backup, compressão e sistema
*.bak
*.zip
*.tar.gz
.DS_Store
Thumbs.db

# Django – mídia do usuário (imagens de perfil, uploads)
media/
# Django – mídia do usuário (imagens de perfil, uploads)
media/
!media/projeto21/
!media/projeto21/midia/
!media/projeto21/midia/kits/
!media/projeto21/midia/kits/**

# Arquivos de ambiente e segredos
.env
.env.local
Apenas_Local
z/

db.sqlite3
*.sqlite3