{% load auth_tags nav_active %}

<nav class="breadcrumbs">
  <a href="{% url 'portal' %}">Portal</a>
{#  <a href="{% url 'projeto21:index' %}">Projeto 21</a> #}
  <a href="{% url 'vocacional:index' %}">Vocacional</a>
  <span class="spacer"></span>

  {% if request.user.is_authenticated %}
    <span class="hello">Olá, {{ request.user.first_name|default:request.user.email }}</span>
    <a href="{% url 'contas:logout' %}?next={{ request.get_full_path|urlencode }}" class="btn btn--ghost">Sair</a>
  {% endif %}
</nav>
