{% extends "vocacional/base_vocacional.html" %}
{% block vocacional_content %}
<h1>Consentimento e Acesso</h1>
<p>Para continuar, precisamos do seu consentimento conforme a LGPD.</p>
<form method="post" action="{% url 'vocacional:consentimento_aceitar' %}">
  {% csrf_token %}
  <div class="field">
    <label>Nome</label>
    {{ form.nome }}
  </div>
  <div class="field">
    <label>E-mail</label>
    {{ form.email }}
  </div>
  <button class="btn" type="submit">Aceitar e continuar</button>
</form>
{% endblock %}
